/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2015, 1:12:27 PM
    Author     : JL
*/
body{
    margin: 0;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
}

#banner h1{
    margin : 0;
    margin-top:3%;
    padding : 1.2%;
}

#bannerImage{
    height: 20em;
    width: 100%;

    
}

#menu{
}

#menu ul{
    margin: 0;
    text-align: center;
    padding-top :1.5%;
    padding-bottom:1.5%;
}

#menu ul li{
    list-style: none;
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
    
    
}

#menu ul li a{
    
    text-decoration: none;

}

.section video{
    
    display: block;
    margin: auto;
    padding: 5%;
}


#content{
    
}

.section{
    
}


.section h2{
    margin: 0;
    padding: 0;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
}

p{
    text-indent: 7%;
    padding-top : 3%;
    padding-bottom : 1%;
    margin: 0;
    margin-left: 15%;
    margin-right: 15%;
}

ol{
    margin: 0;
    margin-left: 25%;
    padding-bottom: 3%;
}

.section img{
    display: block;
    margin: auto;
    max-height: 30em;
    padding: 4%;


}

footer{
    
    margin-top: 3%;
}
footer p{
    margin: 0;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
}

.slideShow p{
    text-indent: 0px;
    text-align: center;
    margin: 0;
    padding: 0;
    
    
}

.slideShowImage{
    padding-top: 4%;
    max-width: 50%;
    height: 25em;
}

td{
    
    
}

