/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2015, 1:12:27 PM
    Author     : JL
*/
html{
    height: 100%;
    
}
body{
    margin: 0;
    margin-left: 7%;
    margin-right: 7%;
    padding: 0;
    -webkit-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);

}

#banner h1{
    margin : 0;
    margin-top:3%;
    padding : 1.2%;
}

#bannerImage{
    height: 35em;
    width: 100%;

    
}

#menu{
    z-index: 2;
    float: left;
    position: absolute;
    clear: both;
    padding: 5%;
    padding-right: 0;
    background-color: rgba(0,0,0,0);

}


#content{
  height: 100%; 
  position: relative;
}

#menu ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

#menu ul li{
    list-style: none;
    padding-top: 50%;
    padding-bottom: 50%;
    
    
}

#menu ul li a{
    text-decoration: none;
    color: #1D1D1D;

}



section{
    
    
}

.section h2{
    margin: 0;
    padding: 0;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 15%;

}

p{
    text-indent: 7%;
    padding-top : 4%;
    padding-bottom : 4%;
    margin: 0;
    margin-left: 25%;
    margin-right: 15%;

}

ol{
    margin: 0;
    margin-left: 25%;
    padding-bottom: 3%;
}

.section img{
    display: block;
    margin: auto;
    max-height: 30em;
    padding: 4%;


}


.section video{
    
    display: block;
    margin: auto;
    margin-left: 30%;
    padding: 5%;
}

footer p{
    margin: 0;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    margin-bottom: 4%;

}

.slideShow{
    
    display: block;
    margin: auto;
}

.slideShow p{
    text-indent: 0px;
    margin: 0;
    padding: 0;
    text-align: center;
    
    
}

.slideShowImage{
    padding-top: 4%;
    max-width: 50%;
    height: 25em;
}
.icon{
    
   
}

table{
    
}

td{
    
    
}

figcaption{
    
    margin: -3%;
    padding: 0;
    display: block;
    text-align: center;
}
