/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2015, 5:05:59 PM
    Author     : JL
*/

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200);

body{
    
    font-family: 'Poiret One', cursive;
}

p{
    font-size: 1.2em;
}

footer{
    font-family: 'Poiret One', cursive;
    font-weight: 100;
    font-size: .9em;
}