/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2015, 4:59:06 PM
    Author     : JL
*/

@import url(https://fonts.googleapis.com/css?family=Product+Sans);

body{
    font-family: 'Product Sans', Arial, sans-serif;
}

p{
    line-height: 1.6em;
}

footer{

}