/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2015, 4:53:42 PM
    Author     : JL
*/

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,400italic,300,700,100);


body{
    
    font-family: 'Roboto Mono' ;
}

footer{
    font-weight: 100;
}

