.alertStyle{
  
}
.alertStyle > *.button-bar > *.container{

}
.alertStyle > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.alertStyle:header *.header-panel{
    -fx-background-color: #FFFFFF;
}
.alertStyle:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;

}