/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 2:30:03 PM
    Author     : JL
*/

body{
    background-color: #FFFBD0;
}

#banner{
    
    color: #FFFFFF;
    background-color: #778B71;
}

#menu{
    background-color: #8EA886;
}

#menu a{
    color : #1D1D1D;
}


#content{
    background-color: #D8F3CF;
}

.section{
    
    
}

footer{
    color: #FFFFFF;
    background-color: #778B71;
    
}