/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2015, 1:09:42 PM
    Author     : JL
*/

body{
    background-color: #E5E5E5;
}

#banner{
    background-color: #990000;
    color: #FFFFFF;
}

#menu{
    background-color: #990000;
}

#menu a{
    color : #FFFFFF;
}

#content{
    background-color: #FFFFFF;
}

.section{
    
    
}

footer{
    color: #FFFFFF;
    background-color: #1D1D1D;
}